/* hitter.html(타자소개) */
main #hitter {
    background-color: #FF6600 ;
    width: 85%;
    margin: 50px auto 0;

}
main #hitter thead {border-bottom:3px solid #fff;}
main #hitter thead tr {}
main #hitter thead tr th {padding: 15PX 15px 15PX 160PX; }
main #hitter tbody {}
main #hitter tbody tr {}
main #hitter tbody tr th {}
main #hitter tbody tr td {padding: 15px;}
/* footer */