/* index html main전용 */
main {
    background-color: #000000;
}
main h1 {
    color: #FF6600;
    text-align: center;
    font-size: 60px;
    text-align:center;
}
main .rogo {text-align: left;}
main .video {}
main p {
    text-align: center;
}
main .photo {}
main .gyun {border:8px solid #FF6600;}
main .won {margin:0 150px 0 150px ;border:8px solid #FF6600;}
main .ram {border:8px solid #FF6600;}
