#login{
    width: 350px; padding: 20px; border: 1px solid black ; margin: 100px auto 0;}
#login .login_link {
    background-color: green; color: #fff;
    text-align: center; width: 100%; display: block; padding: 20px 0; 
}
#login .search_join {display: flex; justify-content: space-between;}
